{
	email {$ACME_EMAIL:admin@example.com}
	auto_https disable_redirects
}

http://, http://{$DOMAIN:localhost}, http://www.{$DOMAIN:localhost} {
	redir https://{$DOMAIN:localhost}{uri} permanent
}

https://www.{$DOMAIN:localhost} {
	redir https://{$DOMAIN:localhost}{uri} permanent
}

https://{$DOMAIN:localhost} {
	encode gzip
	header Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
	reverse_proxy frontend:80
}
